footer {
  background: black;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
.footer-content {
  max-width: 900px;
  margin: 0 auto;
  background-color: black;
}
.redes-footer{
  background-color: black;
}
.suscribir-footer{
  margin: 25px 0 ;
  background-color: black;
}
.footer-social a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.footer-social a:hover {
  text-decoration: underline;
}


/*responsive para mobile*/
@media (max-width: 768px) {
  footer {
    padding: 15px 10px;
    text-align: center;
  }

  .footer-content {
    max-width: 100%;
    padding: 10px;
  }

  .suscribir-footer {
    margin: 15px;
    padding: 15px;
    
  }

  .footer-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 10px;
  }

  .footer-social a {
    margin: 5px;
    font-size: 1rem; 
  }
  .label{
    padding: 10px;
    margin: 5px;
  }
  .suscribirse{
    margin:10px;
  }
}
